
html {
    font-size: 14px;
    margin: 0;
}

* {
    box-sizing: border-box;
      font-family: Verdana, sans-serif;

}

/*
	Header
*/
header {
    height: 100px;
    background-color: #293847;
    margin-bottom: 30px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.actions {
    display: table-cell;
    /*margin-right: 10px;*/
}

.top {
    width: 100%;
    padding-top: 10px;
}

.actions a{
    display: table-cell;
}

.actions a img{
    display: inline-block;
    vertical-align: middle;
}

.logo {
    margin: 0;
    display: table-cell;
    padding-left: 20px;
    color: #fff;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
}

.form-search {
    width: 89%;
    text-align: center;
    display: table-cell;
}

.btn-search {
    border: none !important;
    position: relative;
    left: -35px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    vertical-align: central;


}

.q-search {
    padding: 8px;
    width: 90%;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #fff;
    padding-right: 40px;
}


.menu ul{
    height: 36px;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    height: 100%;
      margin-right: 15px;

}

.menu li a {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;

    text-transform: uppercase;
}


.active{
    background-color: #efefef;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.active a{
    color:#293847;
    font-weight: bold;
}


.label{
    margin: 0;
    margin-top: -70px;
}


/*
	Body
*/


.center {
    text-align: center;
}

h5 {
    margin: 5px;
}

.alert {
    font-size: 1.1em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}


.edit, .delete {
    width: 20px;
    margin-left: 10px;
    display: inline-block;
}

.container {
    max-width: 95%;
    margin: auto;
}


body {
    margin: 0;
    background-color: #efefef;
    color: #191919;
    line-height: 1.42857;
    font-weight: 400;
}


h1 {
    margin: 0;
}

.mobile-menu{
  display:none;
}

.settings li {
    list-style-type: none;
}

.settings li a, .article a {
    text-decoration: none;
    color: black;
    display: block;
}

.settings li a:hover, .article a:hover {
    text-decoration: underline;
}

.doc-menu-summary a {
    text-decoration: none;

}

input[type=text], input[type=number], input[type=date], input[type=tel], input[type=email], input[type=password], select {
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    height: 35px;
    background-color: white;
}

input[type=text], input[type=number], input[type=date], input[type=tel], input[type=email], input[type=password], textarea {
    width: 90%;
}

.gender, .role {
    display: block;
    width: 90%;
    background: none;
}


.del-add {
    min-width: 25%;
    padding: 5px 7px;
    margin-top: 20px;
    margin-right: 20px;
}

.del-add {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 3px;
    font-weight: bold;
}

.del-add:hover, .btn-search:hover, .menu li a:hover, .svg {
    cursor: pointer;
}


.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
}

.product-details img {
    display: block;
    width: 300px;
    margin: auto;
}


.add-to-card:hover {
    border-color: #b66700;
    background-color: #c06d00;
    background-repeat: repeat-x;
}

.add-to-card {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ef7000;


}

.disabled {
    pointer-events: none;
    color: #403e3e;

}

.disabled:hover {
    border: 1px solid #403e3e;
}


.svg, input[type=checkbox] {
    vertical-align: middle;

}


/*
	affichage d'erreur
*/
.field-error {
    border: 1px solid tomato !important;
}

.error {
    text-align: center;
}

.field-error {
    color: black;
}

.page-error, .form-error, .error, .danger {
    color: tomato !important;
}


.success {
    /*border:2px solid #4edb4e;*/
    color: #4edb4e;
}

.form-error {
    color: tomato;
}

.form-success {
    color: #4edb4e
}

.link {
    background-color: #c0e5f1;
}

/* Show products */
.products, .articles, .blog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    font-size: 14px;
}

.products a, .rows a {
    text-decoration: none;
}


.articles, .blog {
    grid-template-columns: repeat(2, 1fr);
}

.article img, .article-details img {
    max-width: 100%;
}



.rows {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.next, .previous {
    display: inline-block;
    width: 45px;
    height: 90px;
    white-space: nowrap;
    position: relative;
    top: -150px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
    text-align: center;
    border:1px solid #efefef;
    box-shadow: 1px 0 4px 0 rgba(0,0,0,.2);
}

.next img, .previous img {

    margin-top: 31px;
    display: inline-block;
}

.next img:hover, .previous img:hover {
    cursor: pointer;
}



.previous {
    left: -35px;
}

.next {
    left: calc(100% - 60px);
}


.product {
    display: inline-block;
    text-align: center;
    overflow: auto;
}

.product-price {
    color: #4a8807;
    font-weight: bold;
    display: block;
  font-size:20px;
}

.product-row {
    width: 16%;
    padding: 20px 15px;
    margin-right: 10px;
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;

}

 .image-responsive {
        max-width: 300px;
    }

.editable {
    border: 1px solid #dadada;
    padding: 5px;
    border-radius: 5px;
}

.product img, .product-row img {
    width: 120px;
    height: 120px;
    vertical-align: top;
    max-width: 100%;
}

.product, .product-row {

    background-color: #fff;


}


p {
    text-align: justify;
}

.article {
    padding: 10px;
    background-color: #fff;
}


input[type=radio] {
    width: auto;
}

/*Tables	*/
table {
    display: block;
    text-align: center;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
}

td, th {
    border: 1px solid #ada8a8;
    text-align: center;
    height: 30px;
    padding: 0 10px;
}

td a {
}

th {
    background-color: #efefef;
}


/*
   Footer
*/

footer {
    /*background-color: #7b7272;*/
    /*color: white;*/
    padding: 10px;
    margin: 0;
    margin-top: 5px;


}

footer a {
    color: #A1ACAC;
}

footer li {

}

footer nav ul {
    display: inline-block;
}

footer nav ul li {
    list-style-type: none;
    padding: 5px;
}

footer nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav h3 {
    text-align: initial;
}

/*Small screen*/
@media only screen and (max-width: 640px) {
  .desk-menu{
    display:none;
  }

  .mobile-menu{
    display:block;
  }

  .form-search{
    display:block;
    width:100%;
    margin-left:5px;
  }


  .btn-search {
        position: relative;
        left: -30px;
    }


    .articles {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);

    }


    footer nav {
        display: grid;
        grid-template-columns:1fr 1fr;
    }


    .next, .previous {
        display: none;
    }

  header{
   height:106px;

  }

  .top{
    margin-top:-5px;
  }

  .menu ul{
margin:5px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .menu li{
    margin-right: 5px;
        flex: 0 0 auto;
  }
    .menu li a {
        font-size:14px;
          padding:5px 10px;
    }

  .first{
    margin-left:-30px;
  }
  .top{
    display:block;
    width:100%;
  }
  .logo, .actions img{
    display:inline-block;
  }

  .logo{
	margin-top:-5px;
  }

  .actions{
    position:absolute;
    right:10px;
    display:inline-block;
  }



    select, input {
        width: 100%;
    }

    input[type="checkbox"] {
        width: initial;
    }

    .del-add, .menu li a {
        margin-top: 0;
        width: fit-content;
    }

    .del-add {
        margin-bottom: 5px;
    }

    .add-to-card {
        font-size: inherit;
    }

    h2 .button {
        /*border: 1px solid blue;*/
        /*font-size: .7em;*/
    }


    /* Show products */
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-row {
        width: 120px;
        padding: 5px;
    }
  .product-price{
    font-size:17px;
  }

    .rows {
        overflow-x: scroll;
    }

    .product a img, .product-row a img {
        width: 60px;
        margin: 5px;
        max-height: 80px;
    }

    .image-responsive {
        width: 80%;
    }

    .container {
        max-width: 90%;
        margin: auto;
    }

  .label{
    margin:initial;
  }

}