
html {
    font-size: 14px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*
	Header
*/
header {
    padding: 10px 0;
    display: grid;
    grid-template-areas:
	"logo  menu"
    "search search";
}

.logo {
    grid-area: logo;
    margin: 0;
    margin-top: 0;
    /*color: blue;*/
    max-width: 100%;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
    /*color: blue;*/
}

.form-search {
    margin-top: 5px;
    grid-area: search;
    height: 35px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    column-gap: 10px;
    text-align: center;
}

.btn-search {
    border: none !important;
    position: relative;
    left: -35px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    vertical-align: central;


}

.q-search {
    padding: 8px;
    width: 90%;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #fff;
    padding-right: 40px;
}

.menu {
    grid-area: menu;
}

.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    margin-right: 0 !important;
    color: black;
}


/*
	Body
*/


.center {
    text-align: center;
}

h5 {
    margin: 5px;
}

.alert {
    font-size: 1.1em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}


.edit, .delete {
    width: 20px;
    margin-left: 10px;
    display: inline-block;
}

.container {
    max-width: 90%;
    margin: auto;
}


body {
    margin: 0;
    background-color: #fafafa;
    color: #191919;
    font-family: Verdana, sans-serif;
    line-height: 1.42857;
    font-weight: 400;
}



h1 {
margin:0;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

.settings li {
    list-style-type: none;
}

.settings li a, .article a{
    text-decoration: none;
    color: black;
    display: block;
}

.settings li a:hover, .article a:hover {
    text-decoration: underline;
}

.doc-menu-summary a
{
      text-decoration: none;

}

input[type=text], input[type=number], input[type=date], input[type=tel], input[type=email], input[type=password], select, textarea {
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 10px;
    border: 2px solid #dadada;
    min-height: 20px;
    background-color: white;
}

input[type=text], input[type=number], input[type=date], input[type=tel], input[type=email], input[type=password], textarea {
    width: 90%;
}

.gender, .role {
    display: block;
    width: 90%;
    background: none;
}


.del-add {
    min-width: 25%;
    padding: 5px 7px;
    margin-top: 20px;
    margin-right: 20px;
}

.del-add, .menu li a {
    background-color: #fff;
    border: 2px solid #dadada;
    border-radius: 3px;
    font-weight: bold;
}

.del-add:hover, .btn-search:hover, .menu li a:hover, .svg {
    /*color: blue;*/
    cursor: pointer;
}


.button {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
}

.product-details img {
    display: block;
    width: 300px;
    margin: auto;
}


.add-to-card:hover {
    border-color: #b66700;
    background-color: #c06d00;
    background-repeat: repeat-x;
}

.add-to-card {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ef7000;


}

.disabled {
    pointer-events: none;
    color: #403e3e;

}

.disabled:hover {
    border: 1px solid #403e3e;
}


.svg, input[type=checkbox] {
    vertical-align: middle;

}


/*
	affichage d'erreur
*/
.field-error {
    border: 2px solid tomato !important;
}

.error {
    text-align: center;
}

.field-error {
    color: black;
}

.page-error, .form-error, .error, .danger {
    color: tomato !important;
}


.success {
    /*border:2px solid #4edb4e;*/
    color: #4edb4e;
}

.form-error {
    color: tomato;
}

.form-success {
    color: #4edb4e
}

.link {
    background-color: #c0e5f1;
}

/* Show products */
.products, .articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    font-size: 14px;
}

.products a, .rows a {
    color: blue;
    text-decoration: none;
}


.articles {
    grid-template-columns: repeat(2, 1fr);
}

.articles img, .article-details img {
    max-width: 100%;
}

.article-details {
  background-color:#fff;
}

.rows {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.next, .previous {
    width: 20px;
    fill: #4a8807;
    border-radius: 50%;
    white-space: nowrap;
    position: relative;
    top: -150px;
}


.previous {
    left: -35px;
}

.next {
    left: calc(100% - 18px);
}


.product {
    display: inline-block;
    text-align: center;
    overflow: auto;
}

.product-price {
    color: #4a8807;
    display: block;
}

.product-row {
    width: 16%;
    padding: 20px 15px;
    margin-right: 10px;
    border-radius: 3px;
    flex: 0 0 auto;
    display: inline-block;
    text-align: center;
    background-color: #fff;
}


.editable {
    border: 1px solid #dadada;
    padding: 5px;
    border-radius: 5px;
}

.product img, .product-row img {
    width: 120px;
    height: 120px;
    vertical-align: top;
    max-width: 100%;
}


p {
    background-color: #fff;
  text-align:justify;
}

.article {
    padding: 10px;
    background-color: #fff;
}


input[type=radio] {
    width: auto;
}

/*Tables	*/
table {
    display: block;
    text-align: center;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
}

td, th {
    border: 1px solid #ada8a8;
    text-align: center;
    height: 30px;
    padding: 0 10px;
}

td a {
    color: blue;
}

th {
    background-color: #efefef;
}


/*
   Footer
*/

footer {
    /*background-color: #7b7272;*/
    /*color: white;*/
    padding: 10px;
    margin: 0;
    margin-top: 5px;


}

footer a {
    color: #A1ACAC;
}

footer li {

}

nav ul {
    display: inline-block;
}

nav ul li {
    list-style-type: none;
    padding: 5px;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav h3 {
    text-align: initial;
}

/*Small screen*/
@media only screen and (max-width: 640px) {
    .btn-search {
        position: relative;
        left: -30px;
    }


    .articles {
        grid-template-columns: repeat(2, 1fr);
    }


    nav {
        display: grid;
        grid-template-columns:1fr;
    }


    .next, .previous {
        display: none;
    }

    header {
        grid-template-areas:
		"logo menu"
		"search";
        background-color: #f5f5f5;
    }

    .menu li a {
        font-weight: bold;
    }


    select, input {
        width: 100%;
    }

    input[type="checkbox"] {
        width: initial;
    }

    .del-add, .menu li a {
        margin-top: 0;
        width: fit-content;
    }

    .del-add {
        margin-bottom: 5px;
    }

    .add-to-card {
        font-size: inherit;
    }

    h2 .button {
        /*border: 1px solid blue;*/
        /*font-size: .7em;*/
    }


    /* Show products */
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-row {
        width: 120px;
      padding:5px;
    }

    .rows {
        overflow-x: scroll;
    }

    .product img, .product-row img {
        width: 60px;
        margin: 5px;
      max-height:80px;
    }

    .image-responsive {
        width: 80%;
    }

    .container {
        max-width: 90%;
        margin: auto;
    }

}