#We activate URL Rewriting
RewriteEngine On

#Redirect url to login
RewriteRule login users/login

#Rewrote url to signup
RewriteRule signup users/signup

#Rewrote url to logout
RewriteRule logout users/logout

#Rewrote url to restore credentials
RewriteRule restore users/restore



#Rewrite url for searches
RewriteCond %{QUERY_STRING} ^q=(.*)$
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1/%1


#Rewrite url to process it
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1
