#We activate URL Rewriting
RewriteEngine On

#Redirect url to login
RewriteRule login users/login

#Rewrote url to signup
RewriteRule signup users/signup

#Rewrote url fto logout
RewriteRule logout users/logout



#Rewrite url to process it
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1

#Rewrite url for searches
RewriteCond %{QUERY_STRING} ^q=(.*)$
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1/%1