#We activate URL Rewriting
RewriteEngine On

#Redirect url to login
RewriteRule ^login$ users/login

#Rewrite url to signup
RewriteRule ^signup$ users/signup

#Rewrite url to logout
RewriteRule ^logout$ users/logout

#Rewrite url to restore credentials
RewriteRule ^restore$ users/restore


#Rewrite url to manage products
RewriteRule ^ajouter$ products/ajouter
RewriteRule ^modifier$ products/modifier
RewriteRule ^console$ products/console
RewriteRule ^details/(.*)$ products/details/$1


#Rewrite url to access settings
RewriteRule ^settings$ users/settings
RewriteRule ^settings/(.*)$ users/settings/$1

#Rewrite url for articles
RewriteRule ^articles/(.*)$ articles/show/$1

#Rewrite url for searches
RewriteCond %{QUERY_STRING} ^q=(.*)$
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1/%1


#Rewrite url to process it
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1